body, html{
    height: 100vh;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 18% auto;
    grid-template-rows: 8% auto;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}
.logo_div {
    text-align: center;
}

.logo {
    width: 120px;
    padding-top: 2em;
    text-align: center;
}


aside {
    grid-area: sidebar;
    background-color: #2B2929;
    position: relative;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    position: relative;
    text-align: center;
}

.aside_btn ul {
    list-style-type: none;
    margin-top: 2.5em;
    text-align: center;
    padding: 0;
    margin: 0;
}

.aside_btn li button{
    background-color: #797575;
    border: 0px;
    color: white;
    border-radius: 2em;
    width: 70%;
    height: 2.5em;
    font-size: 1.5em;
    margin-top: 2em;

}

.study_now_btn {
    text-align: center;
}

.back {
    background: None;
    border: 0;
    margin-left: 3em;
    margin-top: 1em;
}
.back img {
    width: 3em;
}

.front_text {
    font-size: 1.5em;
}

.show_answer_btn button {
    background-color: #FD0A26;
    border: 0px;
    color: white;
    border-radius: 2em;
    width: 20%;
    height: 2.5em;
    font-size: 1.5em;
    margin-top: 2em;
}

.back_text {
    font-size: 1.5em;
    margin-bottom: 2em;
}

.time_btn {
    bottom: 3em;
    position: fixed;
    width: 80%;
}

.time_btn table {
    text-align: center;
}

.time_btn th {
    padding: 0em 3em;
}

.time_btn td button{
    border-radius: 2em;
    background-color: #4FF7F7;
    color: black;
    font-size: 1em;
    border: 0px;
    padding: 0.5em 1.5em;
}

.watch_video_btn button{
    border-radius: 2em;
    background-color: #FD0A26;
    color: white;
    font-size: 1em;
    border: 0px;
    margin-top: 3em;
    padding: 1em 2em;
}
