body, html{
    height: 100vh;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 18% auto;
    grid-template-rows: 8% auto;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}
.logo_div {
    text-align: center;
}

.logo {
    width: 120px;
    padding-top: 2em;
    text-align: center;
}


aside {
    grid-area: sidebar;
    background-color: #2B2929;
    position: relative;
}

header {
    grid-area: header;
}
.back {
    background: None;
    border: 0;
    margin-left: 3em;

}
.back img {
    width: 3em;
}

main {
    grid-area: main;
    position: relative;
}

.aside_btn ul {
    list-style-type: none;
    margin-top: 2.5em;
    text-align: center;
    padding: 0;
    margin: 0;
}

.aside_btn li button{
    background-color: #797575;
    border: 0px;
    color: white;
    border-radius: 2em;
    width: 70%;
    height: 2.5em;
    font-size: 1.5em;
    margin-top: 2em;

}


main {
    text-align: center;
}

.middle_content {
    display: flex;
    justify-content: space-between;
}

#card_info {
    margin-left: 15%;
    margin-top: 5%;
}

#start_btn {
    margin-right: 18%;
    margin-top: 10%;
}

#start_btn button {
    background-color: #FD0A26;
    border: 0px;
    color: white;
    border-radius: 2em;
    height: 2.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1.7em;
    font-weight: bold;
}
