<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rewind</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'main/review.css' %}">
    </head>

    <body>
        <aside>
            <div class="logo_div">
                {% if user.is_authenticated %}
                    <a href="{% url 'main:home' %}"><img class="logo" src="{% static 'main/images/Big_icon.svg' %}" alt="Rewind Logo"></a>
                {% else %}
                    <a href="{% url 'main:index' %}"><img class="logo" src="{% static 'main/images/Big_icon.svg' %}" alt="Rewind Logo"></a>
                {% endif %}
            </div>
            <div class="aside_btn">
                <ul>
                    <li><a href="{% url 'main:addcard' %}"><button>Add</button></a></li>
                    <li><a href="{% url 'main:home' %}"><button>Decks</button></a></li>
                    <li><button>Statistic</button></li>
                </ul>
            </div>

        </aside>
        <header>
            <a class="back" href="{{ back_path }}" ><img src="{% static 'main/images/back.svg' %}" alt="back to previous"></a>
        </header>
        <main>
            <div class="Title">
                <h1>{{ path }}</h1>
            </div>

            <div class="middle_content">
                <div id="card_info">
                    <h2>New: {{ new_num }}</h2>
                    <h2>Learning: {{ learning_num }}</h2>
                    <h2>Review: {{ review_num }}</h2>
                </div>
                <div id="start_btn">
                    <a href="{{ request.get_full_path }}question_answer/"><button>Start</button></a>
                </div>
            </div>
            <div><h2>{{ congra_msg }}</h2></div>

        </main>
    </body>

</html>
