<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rewind</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'main/video.css' %}">    
    </head>

    <body>
        <aside>
            <div class="logo_div">
                <img class="logo" src="{% static 'main/images/Big_icon.svg' %}" alt="Rewind Logo">
            </div>
            <div class="aside_btn">
                <ul>
                    <li><button>Add</button></li>
                    <li><a href="{% url 'main:home' %}"><button>Decks</button></a></li>
                    <li><button>Statistic</button></li>
                </ul>
            </div>

            <div class="study_now_btn">
                <button  type="button" name="study now">Study Now</button>
            </div>
        </aside>
        <header>
            <a class="back" href="{% url 'main:index' %}home/{{ card_list.0.deck.id }}" ><img src="{% static 'main/images/back.svg' %}" alt="back to previous"></a>
        </header>
        <main>
            <div class="decks_table">
                <table align="center">
                    <thead>
                        <tr>
                            <th>Card</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for card in card_list %}
                            <tr>
                                <td><a href="{% url 'main:index'%}card/{{ card.id }}">{{ card.front_text|truncatechars:50 }}</a></td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </main>
    </body>

</html>
